.header {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 80%;
    margin: 0 auto;
    gap: 20px;
    border: 1px solid red;
    background-color: grey;
    max-width: 1000px;
}

div {
    display: flex;
    flex-direction: column;
}

.h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: var(--spacing-sm);
    margin-right: var(--spacing-sm);
}

.name {
    display: flex;
    gap: var(--spacing-xs);
    margin-left: var(--spacing-sm);
     margin-right: var(--spacing-sm);
}

.name input {
    width: 60vw;
    max-width: 400px;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.email {
    display: flex;
    gap: var(--spacing-xs);
    margin-left: var(--spacing-sm);
     margin-right: var(--spacing-sm);
}

.email input {
    width: 60vw;
    margin-left: 0.4rem;
}

.bewertung {
    display: flex;
    gap: var(--spacing-xs);
    margin-left: var(--spacing-sm);
     margin-right: var(--spacing-sm);
    max-width: 85%;
}

.experience,
.bewertung input {
    width: 60vw;
    margin-left: 0.4rem;
}

.dropdown {
    display: flex;
    gap: var(--spacing-xs);
    margin-left: var(--spacing-sm);
     margin-right: var(--spacing-sm);
}


.dropdown select {
    width: 40vw;
    margin-left: 0.4rem;
}

.checkbox,
.radio {
    display: flex;
    gap: var(--spacing-xs);
    margin-left: var(--spacing-sm);
     margin-right: var(--spacing-sm);
     
}

.checkbox label,
.radio label {
    margin-left: 0.4rem;
}

.experience {
    display: flex;
    gap: var(--spacing-xs);
    margin-left: var(--spacing-sm);
     margin-right: var(--spacing-sm);
}

